<!DOCTYPE html>
<html>
  <head>
    <title>RailsIntroLab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a><%= link_to "gallery", gallery_path %></a>
      <a><%= link_to "home", home_path %></a>
    </nav>
    <%= yield %>
  </body>
</html>
